.arrowBack {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    column-gap: 4px;
    margin-top: 24px;
    color: var(--color-dark-500);
    font-size: var(--font-size-s);
    line-height: var(--font-size-xs);
}

.repositoriesControls {
    margin-top: 48px;
}

.repositoriesList {
    margin-top: 24px;
}